$white: #fff;
$denim: #1976d2;
$blue: #3f51b5;
$apple: #43a047;
$orangePeel: #ffa000;
$persianRed: #d32f2f;
$alabaster: #f7f7f7;
$gallery: #eeeeee;
$dustyGray: #999999;
$sanMarino: #3f51b5;
$coldPurple: #9fa8da;
$mercury: #e5e5e5;
$silver: #cccccc;
$doveGray: #666666;
$amaranth: #e62e4d;
$poloBlue: #8c97d3;
$black: #000;
$silver: #ccc;
$heather: #b8bfcc;
$blueRibbon: #1a66ff;
$alto: #dbdbdb;
$trout: #525866;
