@import '~react-toastify/dist/ReactToastify.css';
@import '^scss-config';

.toastify-content--info {
  border-color: $denim;
}
.toastify-content--success {
  border-color: $apple;
}
.toastify-content--warning {
  border-color: $orangePeel;
}
.toastify-content--error {
  border-color: $persianRed;
}
