main {
  position: relative;
  height: 100%;

  .route-wr {
    height: calc(100% - 60px);
  }

  .root, .page {
    height: 100%;
  }

  .page {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px 30px;
  }
}
