main {
  position: relative;
  height: 100%;

  .route-wr {
    height: calc(100% - 60px);
  }

  .root, .page {
    height: 100%;
  }

  .root {
    header.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;

      .login-wr {
        .avatar-wr {
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
          }
        }
      }
    }

    .auth-wr {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.4s all;
      padding: 20px;
      border: 1px solid #fff;
      background: rgb(42, 96, 122);

      .close-auth {
        display: flex;
        flex-direction: row-reverse;
      }

      &.close {
        z-index: -100;
        opacity: 0;
      }

      &.open {
        z-index: 100;
        opacity: 1;
      }
    }
  }

  .page {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px 30px;
    box-sizing: border-box;
  }
}
