
.page.start-page{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 60px;
  background: #fff;


  h3{
    color: #006ec5;
    //font-size: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
  }
  p{
    color: #000;
    font-size: 15px;
    font-weight: 400;
  }
  .inside-wr{
    display: flex;

    .lists-wr{
      width: 70%;
      padding: 30px 0 0 0;
      display: flex;

      .list{
        width: 33%;
        height: 70vh;
        overflow: auto;
        padding: 0 5px 0 0;
        box-sizing: border-box;
        @include scrollbar;
      }
      .first-list{


      }
    }

    .builder-task{

    }
  }


}