@import '@styles';

.formWrapper {
  position: relative;

  margin: 60px 20px 20px 20px;
  padding: 20px;

  border: 2px solid $white;
  border-radius: 4px;

  z-index: 1;

  .loader {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(204, 204, 204, 0.1);
    font-weight: bold;
    font-size: 16px;

    z-index: 100;
  }

  .eventButtonWrapper {
    display: flex;
    flex-direction: row-reverse;

    .eventButton {
      color: $white;

      &:disabled {
        color: $black;
        background: $alto;
        cursor: not-allowed;
      }
    }
  }
}
