.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);

  .footer-tab {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
