header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);

  .header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .login-wr {
    .avatar-wr {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }

  .header-mobile {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  header.header {
    .header-desktop {
      display: none;
    }

    .header-mobile {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }
}
