.root, .page {
  height: 100%;
}

.root {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .route-wr {
    height: 100%;
  }

  .auth-wr {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    transition: 0.4s all;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    background: rgb(42, 96, 122);

    &.close {
      z-index: -100;
      opacity: 0;
    }

    &.open {
      z-index: 100;
      opacity: 1;
    }

    .close-auth {
      display: flex;
      flex-direction: row-reverse;

      & > * {
        cursor: pointer;
      }
    }
  }
}

.page {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px 0;
  box-sizing: border-box;
  max-height: calc(100vh - 60px);
  overflow: auto;
}

$blue: #006ec5;
$grey: #585858;
$lightblue: #00b3e3;
html, body {
  height: 100%;
  //font-family: $book;
  font-size: 16px;
  line-height: 1.125;
  color: #fff;
}

body {
  background: url("/assets/images/city.jpg") center center no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
    opacity: 0.3;
    content: '';
    background: linear-gradient(-45deg, #169fb8, #007fa3);
  }
}

p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

h3, h4 {
  font-size: 1.5rem;
  //font-family: $bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.logo {
  img {
    max-height: 100%;
  }
}

a {
  color: inherit;
  &:hover, &:active, &:visited {
    color: inherit;
  }
}

input {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 769px) {
  .route-wr {
    height: calc(100% - 120px);
  }

  .page {
    padding: 0 10px 10px;
  }
}

