.list {
  flex: 1 1 auto;

  margin: 0 5px 0 0;
  padding: 10px;

  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1;

  border-radius: 5px;
  border: 3px dashed transparent;
  transition: border 0.3s, background 0.3s;

  &.canDrop {
    border-color: #ccc;
  }

  &.isActive {
    border-color: #ccc;
    background: transparentize(green, 0.8);
  }
}

//&.backFields {
//  position: absolute;
//
//  z-index: 0;
//}
