.colorButton {
  min-width: 6rem;
  text-align: center;
  cursor: pointer;
  margin: 0.5rem;
  width: calc(33.33333% - 1rem);

  &:hover {
    .colorImg {
      border-color: #007edb;
    }
  }

  .colorImg {
    width: 2.25rem;
    height: 2.25rem;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    padding: 0.25rem;
  }

  .title {
    margin-top: 0.1rem;
    font-size: 0.8rem;
    color: #666;
  }

  .price {
    font-size: 0.8rem;
    color: #999;
  }
}

.activeButton {
  .colorImg {
    padding: 0;
  }
}
