.login {
  .enterWithEmail {
    form {
      input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
      }
    }
  }

  .none {
    display: none;
  }

  .authButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #fff;

    button {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 0;
      border: 1px solid;
      border-radius: 5px;
      text-align: center;
      line-height: 16px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.4s all;

      &:hover {
        box-shadow: 0 0 5px #fff;
      }
    }
  }

  a {
    margin-left: 25px;
  }

  input {
    display: block;
  }

  div {
    padding: 10px 0 10px 0;
  }

  button {
    margin: 12px 12px 0 0;
  }

  .emailReg {
    margin-bottom: 30px;
  }

  .antSpin {
    margin: 12px 0 0 10px;
  }

  .validationFailedMessage {
    color: crimson
  }

  .controlButtons {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding: 15px 0 0 0;

    button {
      cursor: pointer;
      margin: 0;
      padding: 10px;

      &.sighOut {
        border: 1px solid #f1000085;
        border-radius: 6px;
        transition: 0.4s all;

        &:hover {
          border: 1px solid #f10000c4;
        }
      }
    }

    .googleBtn {

    }
  }
}

.layoutContent {
  .enterWithEmail {
    input {
      width: 25%;
    }
  }
}
