
.task {
  position: relative;

  margin: 0 0 20px 0;
  padding: 10px;

  overflow: hidden;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 0 10px transparentize(#000, 0.7);
  background: linear-gradient(135deg, rgba(253, 253, 253, 0.4), rgba(0, 127, 163, 0));

  &.onBoardTask {
    .taskSecondaryInfo {
      display: none;
    }

    .tempList, .tempListTitle {
      display: none;
    }
  }

  .taskContent {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tempList {
      padding: 0 0 0 22px;
      margin: -10px 0 0 0;

      .temp {
        margin: 0 0 5px 0;

      }
    }
  }

  .weatherIndicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;

    img {
      width: 100%;
    }
  }

  .controls {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;
    transform: translateY(10%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;

    .control {
      padding: 5px 0;
      box-sizing: border-box;
      height: 30px;
      width: 30px;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 1px #000;
      border-radius: 2px;
      margin-right: 5px;
      color: black;
      cursor: pointer;
      transition: background 0.3s, box-shadow 0.3s;

      a, .deleteButton {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.controlDelete {
        color: #d0021b;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 3px #000;
      }
    }
  }

  &:hover {
    .controls {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
