@import '@styles';

.event {
  position: relative;

  margin: 0 0 20px 0;
  padding: 10px;

  color: $white;

  overflow: hidden;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 0 10px transparentize($black, 0.7);
  background: linear-gradient(135deg, rgba(253, 253, 253, 0.4), rgba(0, 127, 163, 0));

  &.onBoardTask {
    .eventSecondaryInfo {
      display: none;
    }

    .tempList, .tempListTitle {
      display: none;
    }
  }

  .eventContent {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .eventMainInfo {
      .temperatureTitle {
      }

      .tempList {
        padding: 0 0 0 22px;
        margin: -10px 0 0 0;

        .temp {
          margin: 0 0 5px 0;

        }
      }
    }
  }

  .weatherIndicator {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    img {
      width: 100%;
    }
  }

  .controls {
    position: relative;

    display: flex;
    justify-content: space-around;

    margin-top: 15px;

    text-align: center;
    opacity: 0;
    transform: translateY(10%);
    transition: transform 0.5s ease, opacity 0.5s ease;

    .control {
      width: 30px;
      height: 30px;

      padding: 5px 0;
      margin-right: 5px;

      color: $black;
      background: rgba(255, 255, 255, 0.5);

      box-sizing: border-box;
      box-shadow: 0 0 1px $black;

      border-radius: 2px;
      cursor: pointer;
      transition: background 0.3s, box-shadow 0.3s;

      a, .deleteButton {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.controlDelete {
        color: $lightRed;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 3px $black;
      }
    }
  }

  &:hover {
    .controls {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
