.page.task-page {
  h3 {
    color: #006ec5;
    //font-size: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
  }

  .inside-wr {
    display: flex;
    height: 100%;

    .task-header {
      line-height: 60px;
      height: 60px;

      a {
        i {
          margin-right: 15px;
        }
      }
    }

    .task-wr {
      width: 75%;
    }

    .task {
      margin: 0 10px;

      .map {
        height: 300px;
        width: 100%
      }
      .markerMap {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 5px;
        background: #2c6c89;
        img {
          max-width: 100%;
        }
      }
      h4 {

      }
      p {

        &.date-task {

        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .page.task-page {
    .inside-wr {

      .task-wr {
        width: 100%;

        overflow: auto;
      }

      .task {
        margin: 0;
      }
    }
  }
}
