
.options-wr {
    font-size: 32px;
    padding: 20px;
    line-height: 1.5em;

}

.checkbox-wr {
    margin: 0 0 10px 0;
    max-width: 500px;
}

.small-select-box {

}

input[type="radio"] {
    display: none;

    & + label {
        position: relative;
        display: inline-block;
        padding-left: 35px;
        cursor: pointer;
        font-size: 18px;
        line-height: 20px;
        transition: all .3s ease-in-out;

        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            text-align: center;
            color: white;
            border-radius: 50%;
            transition: all .3s ease;
        }
    }
}

input[type="radio"] + label {
    &:before {
        transition: all .3s ease;
        box-shadow:
        inset 0 0 0 0.01em #00b3e3,
        inset 0 0 0 1em white;
    }
    &:hover:before {
        transition: all .3s ease;
        box-shadow:
        inset 0 0 0 0.3em white,
        inset 0 0 0 1em #00b3e3;
    }
}

input[type="radio"]:checked + label {
    &:before {
        transition: all .3s ease;
        box-shadow:
        inset 0 0 0 0.2em white,
        inset 0 0 0 1em #00b3e3;
    }
}

