@import "sl/_variables";
@import "sl/_bootstrap-theme";

@import "sl/_mixins";
@import "sl/_normalize";
@import "sl/_icons";

@import "sl/_core";
@import "sl/_popup";
@import "sl/_datepicker";
@import "sl/_selectlist";
@import "sl/_multiselect";


.rw-combobox, .rw-datetimepicker, .rw-numberpicker, .rw-dropdownlist{
  height: 45px;
  line-height: 45px;
  border-radius: 0;

}
ul.rw-list>li.rw-list-option, .rw-selectlist>li.rw-list-option{
  height: 45px;
  line-height: 45px;
  border-radius: 0;
  padding-right: 0;
}
.rw-dropdownlist>.rw-select, .rw-dropdownlist.rw-rtl>.rw-select{
  display: none;
}
.rw-dropdownlist>.rw-input {
  line-height: 45px;
}
.rw-popup{
  padding: 0;
}