.small-select-box {
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(at top, #b5e6cf, #9dddad);
    z-index: 100;

    .input-error {
        display: none;
        color: #f10000;
    }

    &.error {
        position: relative;
        margin: 0 0 25px 0;
        line-height: 25px;

        input {
            border: 1px solid #f10000;
        }

        .input-error {
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -25px;
        }

        .select_expandLabel {
            border: 1px solid #f10000;
        }
    }
}

.select {
    position: relative;
    width: 100%;
    height: 45px;
    cursor: pointer;
    background-color: white;
    z-index: 100;

    &_expand {
        width: 0;
        height: 45px;
        position: absolute;
        top: 0;
        right: 0;
        outline: none;

         &::after {
           content: '';
           position: absolute;
           top: 50%;
           right: 10px;
           transform: translate(-50%, -50%) rotate(0deg);
           background: url("/assets/images/arrow.png") no-repeat 100% 100%;
           height: 7px;
           width: 12px;
           color: #3e3e3e;
           font-size: 28px;
           pointer-events: none;
           z-index: 2;
           transition: all 250ms cubic-bezier(.4,.25,.3,1);
           outline: none;
         }

         &:hover::after {opacity: 1}

         &:checked::after {transform: translate(-50%, -50%) rotate(180deg)}


    }

    &_expandLabel {
        display: block;
        width: 100%;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        border: 1px solid #e1e3e5;
    }

    &_close {display: none}

    &_closeLabel {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    &_items {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 45px;
    }

    &_input {
        display: none
    }

    &_label {
        transition: all 250ms cubic-bezier(.4,.25,.3,1);
        display: block;
        height: 0;
        font-size: 1.2rem;
        line-height: 45px;
        overflow: hidden;
        color: #3e3e3e;
        background-color: #fff;
        cursor: pointer;
        padding-left: 20px;

        &-placeholder {
            height: 45px;
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 0;
            color: #bebebe;
            background-color: transparent;
        }
    }

    &_expand:checked {
        + .select_closeLabel {
            display: block;

            + .select_options {
                .select_label {
                    height: 45px;
                    &:hover {background-color: #f7f7f7}
                }

                + .select_expandLabel {display: none}
            }
        }
    }

    &_input:checked + .select_label {
        height: 45px;
        margin-top: -45px;
    }
}
