
.builder-task {
  width: 25%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  box-sizing: border-box;
  margin: 60px 0 0;

  &.edit-builder-task {
    width: 40%;
  }

  form {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    .input-wr {
      padding: 15px 0 0;
      & > div {

        & > div {
          &:first-child {
            width: 100% !important;
            height: 50px;
          }
        }

      }
      p {
        font-size: 16px;
      }

      input {
        width: 100%;
        height: 50px;
        padding: 0 10px;
        box-sizing: border-box;
      }

      .datepicker-wr {
        display: flex;
        flex-direction: column;

        & > p {
          margin: 0;
          color: #8e8080;
        }

        .datepicker-field {
          display: flex;
          flex-direction: row;

          .input-datepicker {
            & > div {

            }
          }

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 7px;
          }
        }
      }
    }

    .submit-message {
      color: #f10000;
      text-align: center;
      margin: 10px 0 0 0;
    }

    button {
      margin-top: 15px;
      height: 50px;
    }
  }
}

.builder-task-wr {
  width: 40%;
  .edit-builder-task {
    width: 100%;
  }
}