header{
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);

  nav{
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 60px;
    box-sizing: border-box;
    ul{

      li{
        height: 60px;
        display: flex;
        align-items: center;
      }
    }
  }
}