.task{
  position: relative;
  background: #ccc;
  margin: 0 0 20px 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  h4{

  }
  p{

    &.date-task{

    }

  }
  .weather-indicator{
    position: absolute;
    right: 10px;
    top:10px;
    height: 40px;
    width: 40px;
    img{
      width: 100%;
    }
  }
  .controls{
    display: flex;
    flex-direction: column;
    text-align: center;
    a{
      padding: 5px 0;
      display: block;
    }
    .deleteButton{
      padding: 5px 0;
      cursor: pointer;
      color: #d0021b;
    }
  }

}